<div class="p5">
    <div class="p-5">
        <h1 class="text-center">Welcome to file detector</h1>
    </div>



    <div class="col-lg-6 offset-lg-3">
        <div class="alert alert-success d-none" id="message"></div>
        <form id="detectForm">
            <div class="form-group">
                <label for="file">Choose file</label>
                <input type="file" class="form-control" id="file" required>
            </div>
            <h4 id="processing" class="text-warning text-center d-none">Processing, please wait...</h4>
            <button type="submit" id="submitBtn" class="btn btn-primary btn-lg btn-block">Check file</button>
        </form>
    </div>
</div>