@media only print
{

    body {
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
        background-color: #ffffff;
    }

    a {
        text-decoration:none;
        color:#333;
    }

    /* global print style */
    .main-header .header-top .welcome-text,
    .main-header #header-links,
    .main-header .nyc-logo .logo,
    .main-header #nav,
    .nav-outer,
    .breadcrumbs,
    .url-link,
    .row-three-one-one-footer,
    .calendar-container,
    .share,
    .print-page,
    .pagination-container,
    .loadmore-container,
    .module-did-this-help,
    .module-first-visit-alert,
    .emergency-alert-row,
    .module-homepage-hero,
    .module-status-panel,
    .module-three-one-one-menu,
    .filter-items,
    .carouselbtns,
    .module-alphabet-nav,
    #filter-topics-col,
    .timeline-container,
    footer
    {
        display:none !important;
    }

    /* City Resources - article */
    #article .print-event,
    #article .module-content,
    #article .carousel-container-outter,
    #article .col-sidebar {
        display:none;
    }

    /* FAQ / How To / Article */
    .sticky,
    #top-button {
        display:none;
    }
    #content-page .module-divider {
        margin:10px 0;
        padding:0;
    }
    #content-page .richtext p {
        margin:0;
    }

    #content-page #content-list label {
        float:left;
        clear:both;
        width:100%;
        margin-bottom:10px;
    }

    /* Events Filter */
    #events-filter .subheader,
    #events-filter .filter-items,
    #events-filter .event-tools,
    #events-filter .btnCloseEventFilterDetail,
    #events-filter .btn-filter-events,
    #events-filter .event-icon .inner,
    #events-filter .event-item .event-data p.hidden-phone {
        display:none;
    }
    #events-filter .event-list {
        margin:0;
    }
    #events-filter .event-item .event-data h4 {
        margin:1px;
    }
    #events-filter .google-static-map {
        float:left;
        margin-right:10px;
    }
    #events-filter .event-detail .detail .location {
        float:left;
    }
    #events-filter .event-detail .detail .location h5 {
        margin:0;
    }
    #events-filter .event-detail .location a,
    #events-filter .event-detail .location a:visited {
        float:left;
        clear:both;
        text-decoration:none;
    }

    #events-filter ul {
        margin:0;
        padding:0;
        list-style:none;
    }
    #events-filter ul li {
        float:left;
        clear:both;
        margin:0 0 40px 0;
    }

    /* Events detail */
    #events-detail .image-container {
        float:left;
        width:25%;
    }

    #events-detail .info-container {
        float:right;
        width:75%;
    }

    #events-detail .image-container img {
        width:150px;
    }

    #events-detail .event-detail .detail {
        float:left;
    }
    #events-detail .event-detail .detail .location h5 {
        font-size: 16px;
        margin:0;
    }
    #events-detail .event-detail .detail {
        width: 60%;
        float: left;
        display: inline;
        clear: right;
        position: relative;
    }

    #events-detail .event-detail .google-static-map {
        width: 32.20339%;
        float: left;
        display: inline;
    }

    #events-detail .detail .location a,
    #events-detail .detail .location a:visited {
        float:left;
        clear:both;
        text-decoration:none;
    }

    #events-detail .event-detail .event-tools,
    #events-detail .detail-content {
        float:left;
        clear:both;
    }

    #events-detail .event-tools {
        margin:0;
        width:50%;
        float:right;
        clear:none;
    }
    #events-detail .event-tools strong {
        line-height:18px;
        margin:0;
    }

    #events-detail .event-tools p {
        line-height:18px;
        margin:0;
    }
    h1.article-title {
        line-height: 40px;
    }
    .print-event{display:none;}

    .agency-header{display:none;}
}