<div class="violation-group-detail" disabled="">
  <div class="violation-details-wrapper">
    <span class="violation-title">NO PARKING-DAY/TIME LIMITS:: </span>
    <span class="violation-value">$25.00</span>
    <ul class="violation-details-list">
      <li>
        <span class="violation-details-single-title">Violation #: </span>
        <span class="violation-details-single-value1 violation-number"
          >8570413063</span
        >
      </li>
      <li class="nav-link">
        <a
          onclick="window.open('https://www.helloworld.com/NYCServWeb/ShowImage?searchID=VG1wQmVVMVVRWGhOVkZsM1RVRTlQUT09','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')"
          >View Ticket</a
        >
      </li>
      <li>
        <span class="violation-details-single-title">Plate Details: </span>
        <span class="violation-details-single-value1">EDG1126 NY PAS</span>
      </li>
      <li>
        <span class="violation-details-single-title">Description: </span>
        <span class="violation-details-single-value1"
          >NO PARKING-DAY/TIME LIMITS:</span
        >
      </li>
      <li>
        <span class="violation-details-single-title">Issue Date: </span>
        <span class="violation-details-single-value1">01/01/2018</span>
      </li>
      <li>
        <span class="violation-details-single-title">Liability: </span>
        <span class="violation-details-single-value1">70.00</span>
      </li>
      <li>
        <span class="violation-details-single-title">Pending: </span>
        <span class="violation-details-single-value1">45.00</span>
      </li>
    </ul>
  </div>
</div>
