<div class="violation-group-detail">
  <div class="violation-details-wrapper">
    <span class="violation-title">NO PARKING-DAY/TIME LIMITS:: </span>
    <span class="violation-value">$25.00</span>
    <ul class="violation-details-list">
      <li>
        <span class="violation-details-single-title">Violation #: </span>
        <span class="violation-details-single-value1 violation-number"
          >8570413063</span
        >
      </li>
      <li class="nav-link">
        <a style="color:blue;text-decoration:underline;font-size:1.1em"
          onclick="window.open('http://nycserv.nyc.gov/NYCServWeb/ShowImage?searchID=VDBSbk1FNUVVWGROUkdNd1RWRTlQUT09','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')"
          >View Ticket</a>
      </li>
      <li>
        <span class="violation-details-single-title">Plate Details: </span>
        <span class="violation-details-single-value1">EDG1126 NY PAS</span>
      </li>
      <li>
        <span class="violation-details-single-title">Description: </span>
        <span class="violation-details-single-value1"
          >NO PARKING-DAY/TIME LIMITS:</span
        >
      </li>
      <li>
        <span class="violation-details-single-title">Issue Date: </span>
        <span class="violation-details-single-value1">01/01/2018</span>
      </li>
      <li>
        <span class="violation-details-single-title">Liability: </span>
        <span class="violation-details-single-value1">70.00</span>
      </li>
      <li>
        <span class="violation-details-single-title">Pending: </span>
        <span class="violation-details-single-value1">45.00</span>
      </li>
    </ul>
  </div>

  <div class="violation-payment-options-wrapper">
    <div class="violation-payment-options">
      <div class="error-label-wrapper">
        <span class="error"></span>
      </div>
      <div class="violation-payment-input-wrapper">
        <div class="violation-payment-input-label">PAY</div>
        <span class="prop_RESERVED_SELECTED">
          <input
            type="hidden"
            class="violation-payment-input-selector"
            value="false"
            name="args.Violations.0.PAYMENTSELECTOR"
            data-column-key="PAYMENTSELECTOR"
          />
        </span>
        <span class="prop_RESERVED_BALANCE" style="display:none;">$25.00</span>
        <span class="prop_RESERVED_AMOUNT_PAID">
        	<label for="sm_amt_1_1" style="position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;">
                                                    Pay Amount
                                                </label>
          <input
            id="sm_amt_2_0"
            class="violation-payment-input Violations currencypositiveInRow"
            type="text"
            value="$25.00"
            name="args.Violations.0.amount"
          />
        </span>
      </div>
      <button id="sm_single_add_2_0" class="add-single-button" type="button">
        + Add
      </button>
    </div>
  </div>
</div>
