<div class="violation-group-detail selected" data-selected="true">
    <div class="violation-details-wrapper">
        <span class="violation-title">NO PARKING-DAY/TIME LIMITS:: </span>

        <span class="violation-value">$35.00</span>

        <ul class="violation-details-list">
            <li>
                <span class="violation-details-single-title">Violation #: </span>
                <span class="violation-details-single-value1 violation-number">8570413063</span>
            </li>
            <li class="nav-link">

                <a onclick="window.open('https://www.helloworld.com/NYCServWeb/ShowImage?searchID=VG1wQmVVMVVRWGhOVkZsM1RVRTlQUT09','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">View
                    Ticket</a>
            </li>
            <li>
                <span class="violation-details-single-title">Plate Details: </span>
                <span class="violation-details-single-value1">EDG1126 NY PAS</span>
            </li>

            <li>
                <span class="violation-details-single-title">Description: </span>
                <span class="violation-details-single-value1">NO PARKING-DAY/TIME LIMITS:</span>
            </li>

            <li>
                <span class="violation-details-single-title">Issue Date: </span>
                <span class="violation-details-single-value1">01/01/2018</span>
            </li>

            <li>
                <span class="violation-details-single-title">Liability: </span>
                <span class="violation-details-single-value1">145.00</span>
            </li>

            <li>
                <span class="violation-details-single-title">Pending: </span>
                <span class="violation-details-single-value1">120.00</span>
            </li>

        </ul>
    </div>

    <div class="violation-payment-options-wrapper">
        <div class="violation-payment-options">
            <div class="error-label-wrapper">
                <label for="sm_amt_1_2" class="error" generated="true" style="display: none;"></label>
            </div>
            <div class="violation-payment-input-wrapper">
                <label for="sm_amt_1_1" style="position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;">
                                            Pay Amount
                                        </label>
                <div class="violation-payment-input-label">PAY</div>


                <span class="prop_RESERVED_SELECTED">
                    <input type="hidden" class="violation-payment-input-selector" value="true" name="args.JudgmentViolations.2.PAYMENTSELECTOR" data-column-key="PAYMENTSELECTOR">
                </span>


                <span class="prop_RESERVED_BALANCE" style="display:none;">$35.00</span>
                <span class="prop_RESERVED_AMOUNT_PAID">
                    <input id="sm_amt_1_2" class="violation-payment-input JudgmentViolations currencypositiveInRow valid selected" type="text" value="$35.00" name="args.JudgmentViolations.2.amount" aria-invalid="false">
                </span>


            </div>
            <button id="sm_single_add_1_2" class="add-single-button" type="button">- REMOVE</button>
        </div>
    </div>

</div>