<div class="violation-group-detail selected" data-selected="true">
    <div class="violation-details-wrapper">

        <ul class="violation-details-list">

            <li>
                <span class="violation-details-single-title">Violation #: 8570413063 </span>
                <span class="violation-details-single-value1 violation-number"></span>
            </li>

        </ul>
    </div>
    <div class="violation-payment-options-wrapper">
        <div class="violation-payment-options">
            <span class="error"></span>
            <div class="violation-payment-input-wrapper">
                <div class="violation-payment-input-label">PAY</div>

                <label for="zm_amt_1_1" style="position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;">
                    Pay Amount
                </label>
                <input id="zm_amt_1_1" class="violation-payment-input currencypositiveInRow valid selected" type="text" value="$0.00" name="args.WindshieldViolations.0.amount" aria-invalid="false">
                <input type="hidden" class="violation-payment-input-selector" value="true" name="args.WindshieldViolations.0.AMT_PAY">
            </div>
            <button id="zm_single_add_1_1" class="add-single-button" type="button">- REMOVE</button>
        </div>
    </div>
</div>