<div class="p-5">
    <h1>Create New Todo</h1>

    {{#if errorMessage}}
    <div class="alert alert-danger">
        {{errorMessage}}
    </div>
    {{/if}}

    <form action="/todos/create" method="POST">
        <div class="input-group">
            <input type="text" class="form-control" name="title" placeholder="Your task....">
        </div>
    </form>
</div>