<div class="p-5">
    <h1>To-dos</h1>

    <p>
        <a class="btn btn-success" href="/todos/create">Create new todo</a>
    </p>

    {{#if successMessage}}
    <div class="alert alert-success">
        {{successMessage}}
    </div>
    {{/if}}

    {{#if errorMessage}}
    <div class="alert alert-danger">
        {{errorMessage}}
    </div>
    {{/if}}

    <table class="table">
        <tr>
            <th>Tasks</th>
            <th>Status</th>
            <th>Date</th>
            <th></th>
        </tr>
        {{#todos}}
        <tr>
            <td><a href="/todos/update/{{id}}">{{title}} </a></td>
            <td>{{status}}</td>
            <td>{{createdAt}}</td>
            <td>
                <a href="/todos/delete/{{id}}" class="btn btn-danger btn-sm">Remove</a>
            </td>
        </tr>
        {{/todos}}
    </table>
</div>